global
        log /dev/log    local2 notice
        maxconn 3072
        tune.ssl.default-dh-param 2048

        # Default SSL material locations
       ca-base /etc/ssl/certs
       crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
       ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
       ssl-default-bind-options no-sslv3

defaults
        log     global
        mode    http
        option forwardfor
        option http-server-close
        option  httplog
        option log-separate-errors
        option dontlognull
        option dontlog-normal
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /usr/local/etc/haproxy/errors/400.http
        errorfile 403 /usr/local/etc/haproxy/errors/403.http
        errorfile 408 /usr/local/etc/haproxy/errors/408.http
        errorfile 500 /usr/local/etc/haproxy/errors/500.http
        errorfile 502 /usr/local/etc/haproxy/errors/502.http
        errorfile 503 /usr/local/etc/haproxy/errors/503.http
        errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend services-frontend
    # Comment next line to fully close port 88
    bind :88
    bind :444 ssl crt /etc/ssl/certs/device.pem
    # Uncomment next line to enforce https connection
    #redirect scheme https if !{ ssl_fc }
    # Always keep the next line to prevent falling back to http during redirection (HTTP-302, no trailing slash) when using https
    rspirep ^Location:\ http://(.*)  Location:\ https://\1  if { ssl_fc }
    acl url_mgs path_beg /mgs
    acl url_sts path_beg /sts
    acl url_whs path_beg /wh
    acl url_ru path_beg /result-upload
    acl url_dex path_beg /auth
    acl url_dex path_beg /token
    acl url_dex path_beg /keys
    acl url_dex path_beg /register
    use_backend mgs-backend if url_mgs
    use_backend sts-backend if url_sts
    use_backend whs-backend if url_whs
    use_backend result-upload-service-backend if url_ru
    use_backend dexworker-backend if url_dex

frontend ui-frontend
    bind :80
    bind :443 ssl crt /etc/ssl/certs/device.pem
    rspirep ^Location:\ http://(.*)  Location:\ https://\1  if { ssl_fc }
    use_backend ui-backend


backend mgs-backend
{{range gets "/skydns/local/skydns/mgs/*"}}
{{$data := json .Value}}
    server {{$data.host}}:{{$data.port}} {{$data.host}}:{{$data.port}} check
{{end}}

backend sts-backend
# save request scheme for further redirect
http-request set-header X-Forwarded-Proto https if { ssl_fc }
http-request set-header X-Forwarded-Proto http if !{ ssl_fc }
http-request set-var(txn.scheme) req.hdr(X-Forwarded-Proto)
# save request host for further redirect
http-request set-var(txn.host) req.hdr(Host)
# define acl
http-request set-var(txn.path) path
acl url_callback var(txn.path) -m end /callback
http-response replace-value Location /sts/welcome.jsp %[var(txn.scheme)]://%[var(txn.host)] if url_callback
http-response replace-value Location (.*):88 \1:80 if !{ ssl_fc } url_callback
http-response replace-value Location (.*):444 \1:443 if { ssl_fc } url_callback

{{range gets "/skydns/local/skydns/sts/*"}}
{{$data := json .Value}}
    server {{$data.host}}:{{$data.port}} {{$data.host}}:{{$data.port}} check
{{end}}

backend whs-backend
{{range gets "/skydns/local/skydns/whs/*"}}
{{$data := json .Value}}
    server {{$data.host}}:{{$data.port}} {{$data.host}}:{{$data.port}} check
{{end}}

backend result-upload-service-backend
{{range gets "/skydns/local/skydns/result-upload-service/*"}}
{{$data := json .Value}}
    server {{$data.host}}:{{$data.port}} {{$data.host}}:{{$data.port}} check
{{end}}

backend dexworker-backend
{{range gets "/skydns/local/skydns/dexworker/*"}}
{{$data := json .Value}}
    server {{$data.host}}:{{$data.port}} {{$data.host}}:{{$data.port}} check
{{end}}



backend ui-backend
acl cookie_set hdr_sub(cookie) it
#redirect location http://gaia.skydns.local:88/sts/login.jsp code 302 if !cookie_set

http-request set-header X-Forwarded-Proto https if { ssl_fc } !cookie_set
http-request set-header X-Forwarded-Proto http if !{ ssl_fc } !cookie_set
http-request set-header X-Forwarded-Port 444 if { ssl_fc } !cookie_set
http-request set-header X-Forwarded-Port 88 if !{ ssl_fc } !cookie_set
http-request set-header X-Location-Path %[path] if !cookie_set

http-request redirect location %[hdr(X-Forwarded-Proto)]://%[hdr(Host)]:%[hdr(X-Forwarded-Port)]/sts/login.jsp if !cookie_set

{{range gets "/skydns/local/skydns/kibana/*"}}
{{$data := json .Value}}
    server {{$data.host}}:{{$data.port}} {{$data.host}}:{{$data.port}} check
{{end}}



listen stats
   # Uncomment next line to access stats over https
   #bind :1936 ssl crt device.pem
   # Comment next line to access stats only over https
   bind :1936
   stats enable
   stats uri /
   stats realm Haproxy\ Statistics
   stats auth admin:admin

